<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
 http://www.springframework.org/schema/context 
 http://www.springframework.org/schema/context/spring-context-3.1.xsd 
 http://www.springframework.org/schema/mvc 
 http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	 <!-- 自动扫描的包名 -->
	<!-- <context:annotation-config />
    <context:component-scan base-package="com.ws.mapper"></context:component-scan>  -->
	
	
    <!-- 2.数据库连接池 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
        <!-- 配置连接池属性 -->
        <property   name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property	name="url"	 value="jdbc:mysql://localhost:3306/WeChat" />
		<property	name="username"		value="root" />
		<property	name="password"		value="root" />
    </bean> 

    <!-- 3.配置SqlSessionFactory对象 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource" /> 
        <!-- 配置MyBaties全局配置文件:mybatis-config.xml -->
        <!-- property name="configLocation" value="classpath:com/confi/mybatis-config.xml" /> -->
        <!-- 扫描sql配置文件:mapper需要的xml文件 -->
        <!-- <property name="mapperLocations"value="classpath:com/ws/mapper/*.xml"></property> -->
    </bean>

	
	<!-- <bean id="adminMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.ws.mapper.AdminMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>  -->
	  <!-- DAO接口所在包名，Spring会自动查找其下的类 -->
	  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
   		 <property name="basePackage" value="com.ws.mapper" />
   		 <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>  
</beans>